# This is Git's per-user configuration file.
[user]
	name = Andrew Scagnelli
	email = ascagnel@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
[core]
	excludesfile = ~/.gitignore_global
[pull]
    rebase = true
    ff = only
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

